.u-section-1 .u-sheet-1 {
  min-height: 380px;
}

.u-section-1 .u-image-1 {
  width: 735px;
  height: 333px;
  margin: 1px auto 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    height: 327px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-1 .u-image-1 {
    height: 245px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-image-1 {
    height: 154px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 710px;
  pointer-events: auto;
  background-image: url("images/predictions2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 710px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-text-1 {
  margin: 180px auto 0 26px;
}

.u-section-2 .u-text-2 {
  margin: 20px 26px 0;
}

.u-section-2 .u-text-3 {
  margin: 139px 30px 0 77px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 33px auto 0;
  padding: 10px 13px 10px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 619px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 819px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 150px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-2 .u-image-1 {
    min-height: 672px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-right: 153px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-image-1 {
    min-height: 460px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 73px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 347px;
  height: 347px;
  margin: 31px auto 0 13px;
}

.u-section-3 .u-image-2 {
  width: 347px;
  height: 347px;
  margin: -347px auto 0 360px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: -334px 0 2px 720px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -10px;
    margin-left: 89px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 505px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 7px 48px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: 0;
    margin-left: 373px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: 193px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-bottom: 0;
  }
}
